<!DOCTYPE html>
<html>
  <head>{{> head }}</head>
    <body class="{{page}}">
    {{> header}}
    {{> speakerslist}}
    <section class="layout">
      <div class="primary">
        {{> whoarewe}}
        {{> getbusy}}
        {{> whoshouldcome}}
      </div><!-- primary -->
      <aside class="secondary">
        {{> nextmeeting}}
        {{> artworklist}}
      </aside><!-- secondary -->
    </section><!-- layout -->

    {{> footer}}
    {{> jsdefaults}}
  </body>
        
</html>

