<!DOCTYPE html>
<html>
  <head>{{> head }}</head>
    <body class="{{pagename}}">
    {{> header}}
    <section class="layout">
      <div class="primary">
          {{pagename}}
          {{#compare pagename "==" "artistList" }}
            {{> speakerslist}}
          {{/compare}}
          {{#compare pagename "==" "artistDetail" }}
            {{> speakerslistdetail}}
          {{/compare}}
        </div><!-- primary -->
      <aside class="secondary">
        {{> nextmeeting}}
        {{> artworklist}}
      </aside><!-- secondary -->
    </section><!-- layout -->

    {{> footer}}
    {{> jsdefaults}}
  </body>
        
</html>
