<article class="socialmediaicons">
  <span class="title">Join the movement: </span>
  <ul class="group">
       {{#each appdata.social}}
      <li><a href="{{ url}}"><img class="icon" src="{{img}}" alt="icon for {{shortname}}"></a></li>
     {{/each}}
  </ul>
</article>